{
  "swagger": "2.0",
  "info": {
    "title": "Little Green Light CRM API",
    "description": "Complete, 141-endpoint REST API connector for the Little Green Light donor database. Exposes all core resources, sub-resources, campaigns, fundraising, activities, and customization tools.",
    "version": "1.0.0"
  },
  "host": "api.littlegreenlight.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "access_token",
      "in": "query",
      "description": "Enter your raw Little Green Light API Key generated in Settings > Integration > API Keys."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/constituents": {
      "get": {
        "summary": "Fetch all Constituents for an account",
        "description": "Fetch all Constituents for an account",
        "operationId": "listconstituents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Constituent",
        "description": "Create new Constituent",
        "operationId": "createconstituents",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                },
                "organization_name": {
                  "type": "string"
                },
                "constituent_type": {
                  "type": "string",
                  "enum": [
                    "individual",
                    "organization"
                  ],
                  "default": "individual"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/search": {
      "get": {
        "summary": "Search for Constituents",
        "description": "Search for Constituents",
        "operationId": "getconstituentsSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{id}": {
      "get": {
        "summary": "Show Constituent details",
        "description": "Show Constituent details",
        "operationId": "getconstituents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update constituent",
        "description": "Update constituent",
        "operationId": "updateconstituents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateconstituents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete constituent",
        "description": "Delete constituent",
        "operationId": "deleteconstituents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/gifts": {
      "get": {
        "summary": "Fetch Gifts for a Constituent",
        "description": "Fetch Gifts for a Constituent",
        "operationId": "listconstituentsGifts",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Gift for a Constituent",
        "description": "Create new Gift for a Constituent",
        "operationId": "createconstituentsGifts",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsGifts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gifts/search": {
      "get": {
        "summary": "Search for Gifts",
        "description": "Search for Gifts",
        "operationId": "getgiftsSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gifts/{id}": {
      "get": {
        "summary": "Show Gift details",
        "description": "Show Gift details",
        "operationId": "getgifts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Gift",
        "description": "Update Gift",
        "operationId": "updategifts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updategifts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Gift",
        "description": "Delete Gift",
        "operationId": "deletegifts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "summary": "Fetch Campaigns",
        "description": "Fetch Campaigns",
        "operationId": "listcampaigns",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Campaign",
        "description": "Create new Campaign",
        "operationId": "createcampaigns",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createcampaigns"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "summary": "Show Campaign details",
        "description": "Show Campaign details",
        "operationId": "getcampaigns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Campaign",
        "description": "Update Campaign",
        "operationId": "updatecampaigns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatecampaigns"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Campaign",
        "description": "Delete Campaign",
        "operationId": "deletecampaigns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/funds": {
      "get": {
        "summary": "Fetch Funds",
        "description": "Fetch Funds",
        "operationId": "listfunds",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Fund",
        "description": "Create new Fund",
        "operationId": "createfunds",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createfunds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/funds/{id}": {
      "get": {
        "summary": "Show Fund details",
        "description": "Show Fund details",
        "operationId": "getfunds",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Fund",
        "description": "Update Fund",
        "operationId": "updatefunds",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatefunds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Fund",
        "description": "Delete Fund",
        "operationId": "deletefunds",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "Fetch Events",
        "description": "Fetch Events",
        "operationId": "listevents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Event",
        "description": "Create new Event",
        "operationId": "createevents",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createevents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Show Event details",
        "description": "Show Event details",
        "operationId": "getevents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Event",
        "description": "Update Event",
        "operationId": "updateevents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateevents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Event",
        "description": "Delete Event",
        "operationId": "deleteevents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/appeals": {
      "get": {
        "summary": "Fetch Appeals",
        "description": "Fetch Appeals",
        "operationId": "listappeals",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Appeal",
        "description": "Create new Appeal",
        "operationId": "createappeals",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createappeals"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/appeals/{id}": {
      "get": {
        "summary": "Show Appeal details",
        "description": "Show Appeal details",
        "operationId": "getappeals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Appeal",
        "description": "Update Appeal",
        "operationId": "updateappeals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateappeals"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Appeal",
        "description": "Delete Appeal",
        "operationId": "deleteappeals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/appeals/{appeal_id}/appeal_requests": {
      "get": {
        "summary": "Fetch Appeal Requests for Appeal",
        "description": "Fetch Appeal Requests for Appeal",
        "operationId": "listappealsAppealRequests",
        "parameters": [
          {
            "name": "appeal_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The appeal_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Appeal Request",
        "description": "Create new Appeal Request",
        "operationId": "createappealsAppealRequests",
        "parameters": [
          {
            "name": "appeal_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The appeal_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createappealsAppealRequests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/appeal_requests/{id}": {
      "get": {
        "summary": "Show Appeal Request details",
        "description": "Show Appeal Request details",
        "operationId": "getappeal_requests",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Appeal Request",
        "description": "Update Appeal Request",
        "operationId": "updateappeal_requests",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateappeal_requests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Appeal Request",
        "description": "Delete Appeal Request",
        "operationId": "deleteappeal_requests",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/appeal_requests": {
      "get": {
        "summary": "Fetch Appeal Requests for Constituent",
        "description": "Fetch Appeal Requests for Constituent",
        "operationId": "listconstituentsAppealRequests",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Appeal Request for Constituent",
        "description": "Create new Appeal Request for Constituent",
        "operationId": "createconstituentsAppealRequests",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsAppealRequests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/street_addresses": {
      "get": {
        "summary": "Fetch Street Addresses",
        "description": "Fetch Street Addresses",
        "operationId": "listconstituentsStreetAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Street Address",
        "description": "Create new Street Address",
        "operationId": "createconstituentsStreetAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsStreetAddresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/street_addresses/{id}": {
      "get": {
        "summary": "Show Street Address details",
        "description": "Show Street Address details",
        "operationId": "getstreet_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Street Address",
        "description": "Update Street Address",
        "operationId": "updatestreet_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatestreet_addresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Street Address",
        "description": "Delete Street Address",
        "operationId": "deletestreet_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/phone_numbers": {
      "get": {
        "summary": "Fetch Phone Numbers",
        "description": "Fetch Phone Numbers",
        "operationId": "listconstituentsPhoneNumbers",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Phone Number",
        "description": "Create new Phone Number",
        "operationId": "createconstituentsPhoneNumbers",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsPhoneNumbers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/phone_numbers/{id}": {
      "get": {
        "summary": "Show Phone Number details",
        "description": "Show Phone Number details",
        "operationId": "getphone_numbers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Phone Number",
        "description": "Update Phone Number",
        "operationId": "updatephone_numbers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatephone_numbers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Phone Number",
        "description": "Delete Phone Number",
        "operationId": "deletephone_numbers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/email_addresses": {
      "get": {
        "summary": "Fetch Email Addresses",
        "description": "Fetch Email Addresses",
        "operationId": "listconstituentsEmailAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Email Address",
        "description": "Create new Email Address",
        "operationId": "createconstituentsEmailAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsEmailAddresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/email_addresses/{id}": {
      "get": {
        "summary": "Show Email Address details",
        "description": "Show Email Address details",
        "operationId": "getemail_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Email Address",
        "description": "Update Email Address",
        "operationId": "updateemail_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateemail_addresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Email Address",
        "description": "Delete Email Address",
        "operationId": "deleteemail_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/web_addresses": {
      "get": {
        "summary": "Fetch Web Addresses",
        "description": "Fetch Web Addresses",
        "operationId": "listconstituentsWebAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Web Address",
        "description": "Create new Web Address",
        "operationId": "createconstituentsWebAddresses",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsWebAddresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/web_addresses/{id}": {
      "get": {
        "summary": "Show Web Address details",
        "description": "Show Web Address details",
        "operationId": "getweb_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Web Address",
        "description": "Update Web Address",
        "operationId": "updateweb_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateweb_addresses"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Web Address",
        "description": "Delete Web Address",
        "operationId": "deleteweb_addresses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/contact_reports": {
      "get": {
        "summary": "Fetch Contact Reports for Account",
        "description": "Fetch Contact Reports for Account",
        "operationId": "listcontact_reports",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/contact_reports/search": {
      "get": {
        "summary": "Search for Contact Reports",
        "description": "Search for Contact Reports",
        "operationId": "getcontact_reportsSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/contact_reports/{id}": {
      "get": {
        "summary": "Show Contact Report details",
        "description": "Show Contact Report details",
        "operationId": "getcontact_reports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Contact Report",
        "description": "Update Contact Report",
        "operationId": "updatecontact_reports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatecontact_reports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Contact Report",
        "description": "Delete Contact Report",
        "operationId": "deletecontact_reports",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/contact_reports": {
      "get": {
        "summary": "Fetch Contact Reports for Constituent",
        "description": "Fetch Contact Reports for Constituent",
        "operationId": "listconstituentsContactReports",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Contact Report",
        "description": "Create new Contact Report",
        "operationId": "createconstituentsContactReports",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsContactReports"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/notes": {
      "get": {
        "summary": "Fetch Notes for Account",
        "description": "Fetch Notes for Account",
        "operationId": "listnotes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/notes/{id}": {
      "get": {
        "summary": "Show Note details",
        "description": "Show Note details",
        "operationId": "getnotes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Note",
        "description": "Update Note",
        "operationId": "updatenotes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatenotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Note",
        "description": "Delete Note",
        "operationId": "deletenotes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/notes": {
      "get": {
        "summary": "Fetch Notes for Constituent",
        "description": "Fetch Notes for Constituent",
        "operationId": "listconstituentsNotes",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Note",
        "description": "Create new Note",
        "operationId": "createconstituentsNotes",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsNotes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/volunteer_times": {
      "get": {
        "summary": "Fetch Volunteer Times for Account",
        "description": "Fetch Volunteer Times for Account",
        "operationId": "listvolunteer_times",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/volunteer_times/search": {
      "get": {
        "summary": "Search for Volunteer Times",
        "description": "Search for Volunteer Times",
        "operationId": "getvolunteer_timesSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/volunteer_times/{id}": {
      "get": {
        "summary": "Show Volunteer Time details",
        "description": "Show Volunteer Time details",
        "operationId": "getvolunteer_times",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Volunteer Time",
        "description": "Update Volunteer Time",
        "operationId": "updatevolunteer_times",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatevolunteer_times"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Volunteer Time",
        "description": "Delete Volunteer Time",
        "operationId": "deletevolunteer_times",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/volunteer_times": {
      "get": {
        "summary": "Fetch Volunteer Times for Constituent",
        "description": "Fetch Volunteer Times for Constituent",
        "operationId": "listconstituentsVolunteerTimes",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Volunteer Time",
        "description": "Create new Volunteer Time",
        "operationId": "createconstituentsVolunteerTimes",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsVolunteerTimes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/constituent_relationships": {
      "get": {
        "summary": "Fetch Constituent Relationships for a Constituent",
        "description": "Fetch Constituent Relationships for a Constituent",
        "operationId": "listconstituentsConstituentRelationships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Constituent Relationship",
        "description": "Create new Constituent Relationship",
        "operationId": "createconstituentsConstituentRelationships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsConstituentRelationships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituent_relationships/{id}": {
      "get": {
        "summary": "Show Constituent Relationship details",
        "description": "Show Constituent Relationship details",
        "operationId": "getconstituent_relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Constituent Relationship",
        "description": "Update Constituent Relationship",
        "operationId": "updateconstituent_relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateconstituent_relationships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Constituent Relationship",
        "description": "Delete Constituent Relationship",
        "operationId": "deleteconstituent_relationships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/class_affiliation_types": {
      "get": {
        "summary": "Fetch Class Affiliation Types",
        "description": "Fetch Class Affiliation Types",
        "operationId": "listclass_affiliation_types",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/class_affiliations": {
      "get": {
        "summary": "Fetch Class Affiliations",
        "description": "Fetch Class Affiliations",
        "operationId": "listconstituentsClassAffiliations",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Class Affiliation",
        "description": "Create new Class Affiliation",
        "operationId": "createconstituentsClassAffiliations",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsClassAffiliations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/class_affiliations/{id}": {
      "get": {
        "summary": "Show Class Affiliation details",
        "description": "Show Class Affiliation details",
        "operationId": "getclass_affiliations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Class Affiliation",
        "description": "Update Class Affiliation",
        "operationId": "updateclass_affiliations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateclass_affiliations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Class Affiliation",
        "description": "Delete Class Affiliation",
        "operationId": "deleteclass_affiliations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "Fetch Groups",
        "description": "Fetch Groups",
        "operationId": "listgroups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Group",
        "description": "Create new Group",
        "operationId": "creategroups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for creategroups"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Show Group details",
        "description": "Show Group details",
        "operationId": "getgroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Group",
        "description": "Update Group",
        "operationId": "updategroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updategroups"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Group",
        "description": "Delete Group",
        "operationId": "deletegroups",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/group_memberships": {
      "get": {
        "summary": "Fetch Group Memberships",
        "description": "Fetch Group Memberships",
        "operationId": "listconstituentsGroupMemberships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Group Membership",
        "description": "Create new Group Membership",
        "operationId": "createconstituentsGroupMemberships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsGroupMemberships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/group_memberships/{id}": {
      "get": {
        "summary": "Show Group Membership details",
        "description": "Show Group Membership details",
        "operationId": "getgroup_memberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Group Membership",
        "description": "Update Group Membership",
        "operationId": "updategroup_memberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updategroup_memberships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Group Membership",
        "description": "Delete Group Membership",
        "operationId": "deletegroup_memberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/memberships": {
      "get": {
        "summary": "Fetch Memberships",
        "description": "Fetch Memberships",
        "operationId": "listconstituentsMemberships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Membership",
        "description": "Create new Membership",
        "operationId": "createconstituentsMemberships",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsMemberships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/memberships/{id}": {
      "get": {
        "summary": "Show Membership details",
        "description": "Show Membership details",
        "operationId": "getmemberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Membership",
        "description": "Update Membership",
        "operationId": "updatememberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatememberships"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Membership",
        "description": "Delete Membership",
        "operationId": "deletememberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/membership_levels": {
      "get": {
        "summary": "Fetch Membership Levels",
        "description": "Fetch Membership Levels",
        "operationId": "listmembership_levels",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Membership Level",
        "description": "Create new Membership Level",
        "operationId": "createmembership_levels",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createmembership_levels"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/membership_levels/{id}": {
      "get": {
        "summary": "Show Membership Level details",
        "description": "Show Membership Level details",
        "operationId": "getmembership_levels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Membership Level",
        "description": "Update Membership Level",
        "operationId": "updatemembership_levels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatemembership_levels"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Membership Level",
        "description": "Delete Membership Level",
        "operationId": "deletemembership_levels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/invitations": {
      "get": {
        "summary": "Fetch Invitations for Constituent",
        "description": "Fetch Invitations for Constituent",
        "operationId": "listconstituentsInvitations",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Invitation for Constituent",
        "description": "Create new Invitation for Constituent",
        "operationId": "createconstituentsInvitations",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsInvitations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/events/{event_id}/invitations": {
      "get": {
        "summary": "Fetch Invitations for Event",
        "description": "Fetch Invitations for Event",
        "operationId": "listeventsInvitations",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The event_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Invitation",
        "description": "Create new Invitation",
        "operationId": "createeventsInvitations",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The event_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createeventsInvitations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/invitations/{id}": {
      "get": {
        "summary": "Show Invitation details",
        "description": "Show Invitation details",
        "operationId": "getinvitations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Invitation",
        "description": "Update Invitation",
        "operationId": "updateinvitations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updateinvitations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Invitation",
        "description": "Delete Invitation",
        "operationId": "deleteinvitations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "Fetch Categories for Account",
        "description": "Fetch Categories for Account",
        "operationId": "listcategories",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Category",
        "description": "Create new Category",
        "operationId": "createcategories",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createcategories"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/categories/{category_id}/keywords": {
      "get": {
        "summary": "Fetch Keywords",
        "description": "Fetch Keywords",
        "operationId": "listcategoriesKeywords",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The category_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "summary": "Create new Keyword",
        "description": "Create new Keyword",
        "operationId": "createcategoriesKeywords",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The category_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createcategoriesKeywords"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "summary": "Show Category details",
        "description": "Show Category details",
        "operationId": "getcategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Category",
        "description": "Update Category",
        "operationId": "updatecategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatecategories"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Category",
        "description": "Delete Category",
        "operationId": "deletecategories",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/categories": {
      "get": {
        "summary": "Fetch Categories for Constituent",
        "description": "Fetch Categories for Constituent",
        "operationId": "listconstituentsCategories",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/keywords": {
      "post": {
        "summary": "Add Keyword",
        "description": "Add Keyword",
        "operationId": "createconstituentsKeywords",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for createconstituentsKeywords"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/constituents/{constituent_id}/keywords/{id}": {
      "delete": {
        "summary": "Remove Keyword",
        "description": "Remove Keyword",
        "operationId": "deleteconstituentsKeywords",
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The constituent_id parameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/keywords/{id}": {
      "get": {
        "summary": "Show Keyword details",
        "description": "Show Keyword details",
        "operationId": "getkeywords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "summary": "Update Keyword",
        "description": "Update Keyword",
        "operationId": "updatekeywords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "JSON payload for updatekeywords"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "summary": "Delete Keyword",
        "description": "Delete Keyword",
        "operationId": "deletekeywords",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The id parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lists": {
      "get": {
        "summary": "Fetch Lists",
        "description": "Fetch Lists",
        "operationId": "listlists",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/lists/search": {
      "get": {
        "summary": "Search for Lists",
        "description": "Search for Lists",
        "operationId": "getlistsSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Search term"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/mailing_templates": {
      "get": {
        "summary": "Fetch Mailing Templates",
        "description": "Fetch Mailing Templates",
        "operationId": "listmailing_templates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/team_members": {
      "get": {
        "summary": "Fetch Team Members",
        "description": "Fetch Team Members",
        "operationId": "listteam_members",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/attributes": {
      "get": {
        "summary": "Fetch Custom Attributes",
        "description": "Fetch Custom Attributes",
        "operationId": "listattributes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gift_categories": {
      "get": {
        "summary": "Fetch Gift Categories",
        "description": "Fetch Gift Categories",
        "operationId": "listgift_categories",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/gift_types": {
      "get": {
        "summary": "Fetch Gift Types",
        "description": "Fetch Gift Types",
        "operationId": "listgift_types",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/payment_types": {
      "get": {
        "summary": "Fetch Payment Types",
        "description": "Fetch Payment Types",
        "operationId": "listpayment_types",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/relationship_types": {
      "get": {
        "summary": "Fetch Relationship Types",
        "description": "Fetch Relationship Types",
        "operationId": "listrelationship_types",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/types": {
      "get": {
        "summary": "Fetch Types for Account",
        "description": "Fetch Types for Account",
        "operationId": "listtypes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 50,
            "description": "Maximum records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "default": 0,
            "description": "Number of records to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/types/{type}": {
      "get": {
        "summary": "Fetch Values for Type",
        "description": "Fetch Values for Type",
        "operationId": "gettypes",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The type parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  }
}